*{
  box-sizing: border-box;
  margin: 0;
}

.container{
  height: 270vh;
  width: 100vw;
  margin-top: 3vh;
}

.city{
  position: relative;
  height: 90vh;
  width: 90vw;
  margin-left: 5vw;
  margin-bottom: 3vh;
  }
.roma{
  background-image: url(../img/img1.jpg);
  background-size: cover;
  }

.napoli{
  background-image: url(../img/img2.jpg);
  background-size: cover;
  }

.milano{
  background-image: url(../img/img3.jpg);
  background-size: cover;
  }

.layover{
  height: 90vh;
  width: 90vw;
  background-color: rgba(0, 0, 0, 0.5);
  box-shadow:5px 5px 10px black;
}

.city span{
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-shadow: 2px 2px 4px #000000;
  font-size: 5em;
  font-family: 'Cinzel', serif;
}
